.panel-body {
  padding: 0px 0 0px 0;
	font-family: sans-serif;  
}
.form-control{
	text-align: center;
}
.panel-heading{
	font-family:sans-serif;
}
.value1{
	font-size: 14px;
	/*color: #b71c1c;*/
}
.value2{
	font-size: 22px;
	/*color: #b71c1c;	*/
}
.value3{
	font-size: 20px;	
	/*color: #b71c1c;*/
}
.value3, .value2, .value1{
	font-family: sans-serif;
}
.container .row{
    display: block;
    margin-left: auto;
    margin-right: auto;     
}
.jumbotron{
    margin-bottom: 2px;
}
.item-desc{

	margin:5px 5px 0 5px;
    /*display: block;*/
    text-align: justify;
 
}
.form-group-prod{
	margin:0;
}
.basketRemove, .basketAdd{

}
.basketAdd{
	color: #008B8B;
}
.basketRemove{
	color:#800000;

}