.navbar{
    margin-bottom: 0px;
}
.btn-primary:not(.btn-link):not(.btn-flat) {
  background-color: #424242;
  color: rgba(255, 255, 255, 0.84);
}
.form-control {
  border: 0;
  background-image: linear-gradient(#424242, #424242), linear-gradient(#d2d2d2, #d2d2d2);
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(100% - 1px);
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0);
}
/*.navbar-material-grey-800.navbar {
  background-color: #424242;
  color: rgba(255, 255, 255, 0.84);
}
.navbar-material-grey-800.navbar .navbar-form .form-control-wrapper input.form-control::-webkit-input-placeholder,
.navbar-material-grey-800.navbar .navbar-form input.form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.84);
}
.navbar-material-grey-800.navbar .navbar-form .form-control-wrapper input.form-control::-moz-placeholder,
.navbar-material-grey-800.navbar .navbar-form input.form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.84);
}
.navbar-material-grey-800.navbar .navbar-form .form-control-wrapper input.form-control:-ms-input-placeholder,
.navbar-material-grey-800.navbar .navbar-form input.form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.84);
}
.navbar-material-grey-800.navbar .navbar-form .form-control-wrapper input.form-control::placeholder,
.navbar-material-grey-800.navbar .navbar-form input.form-control::placeholder {
  color: rgba(255, 255, 255, 0.84);
}
.navbar-material-grey-800.navbar .dropdown-menu {
  border-radius: 2px;
}
.navbar-material-grey-800.navbar .dropdown-menu li > a {
  font-size: 16px;
  padding: 13px 16px;
}
.navbar-material-grey-800.navbar .dropdown-menu li > a:hover,
.navbar-material-grey-800.navbar .dropdown-menu li > a:focus {
  color: #424242;
  background-color: #eeeeee;
}
.navbar-material-grey-800.navbar .dropdown-menu .active > a {
  background-color: #424242;
  color: rgba(255, 255, 255, 0.84);
}
.navbar-material-grey-800.navbar .dropdown-menu .active > a:hover,
.navbar-material-grey-800.navbar .dropdown-menu .active > a:focus {
  color: rgba(255, 255, 255, 0.84);
}*/
