.ajuste{
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto; 
    float: none;
}
.control-labelUSER{
	text-align: left;
}
.ajuste_top{
	margin-top: 20px;
}
label { display: block; margin-top: 10px; }
label.error { 
	float: none;
	color: #FF6347; 
	margin: 0 .5em 0 0; 
	vertical-align: top; 
	font-size: 10px; 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
}
p { clear: both; }
.submit { margin-top: 1em; }
em { /*font-weight: bold;*/ padding-right: 1em; vertical-align: top; }